<section class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a ><b>Admin</b>LTE</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Sign in to start Address Book</p>
  
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group has-feedback">
          <input type="email" formControlName="email" class="form-control"  id="email" placeholder="Email">
  
          <div  *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            <span class="glyphicon glyphicon-envelope form-control-feedback" *ngIf="loginForm.get('email')?.hasError('required')">Email is required </span>
            <span class="glyphicon glyphicon-envelope form-control-feedback" *ngIf = "loginForm.get('email')?.hasError('pattern')">please enter valid email</span>
        </div>
        </div>
        <div class="form-group has-feedback">
          <input type="password" formControlName="password" id="password" class="form-control" placeholder="Password">
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            <span class="glyphicon glyphicon-lock form-control-feedback" *ngIf="loginForm.get('password')?.hasError('required')">Password is required</span>
            <span class="glyphicon glyphicon-lock form-control-feedback" *ngIf="loginForm.get('password')?.hasError('minlength')">Password must be 6 digits</span>

        </div>
        </div>
        <div class="row">
          <div class="col-xs-8">
          
          </div>
          <!-- /.col -->
          <div class="col-xs-4">

            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            <a [routerLink]="'/auth/register'" class="register">Register</a>

          </div>
          <!-- /.col -->
        </div>
      </form>
  
    </div>
  </div>
</section>

